doctype
html
    head
        if pageTitle
            title !{pageTitle} | !{settings.title}
        else 
            title !{settings.title}
        meta(name="viewport",content="width=device-width, initial-scale=1")
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="description", content= pageDescription || settings.defaultDescription)
        meta(name="keywords", content= pageKeywords || settings.defaultKeywords)
        meta(property="og:title", content= pageTitle || settings.title )
        meta(property="og:description", content= pageDescription || settings.defaultDescription )
        meta(property="og:type", content="website")
        meta(property="og:image", content= pageImage || request.OGImage || settings.defaultOGImage )
        meta(property="og:site_name", content= settings.title )
        meta(property="og:url", content= request.canonical )
        meta(property="canonical", href= request.canonical )

        meta(name="twitter:card", content="summary")
        meta(name="twitter:site", content="@liaodrake")
        meta(name="twitter:creator", content="@liaodrake")
        meta(name="twitter:title", content= pageTitle || settings.title )
        meta(name="twitter:description", content= pageDescription || settings.defaultDescription )
        meta(name="twitter:image:src", content= pageImage || request.OGImage || settings.defaultOGImage )
        
        each icoPath in settings.icoFiles
            link(rel="icon", type="image/png", href= icoPath )
        each cssPath in settings.cssFiles
            link(rel="stylesheet", href= cssPath )
                
        if settings.googleAnalytics
            script.
                (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
                ga('create', '#{settings.googleAnalytics.UACode}', '#{settings.googleAnalytics.UADomain}');
                ga('send', 'pageview');

    body
        .container-fluid
            .row
                header.masthead.col-sm-3.col-xs-12
                    .brand.col-xs-3.col-xs-push-9.col-sm-12.col-sm-push-0
                        a(href="/"): img(src='/includes/imgs/me2-300.jpg', alt='Picture of Christopher Vachon').img-responsive
                    .desc.col-xs-9.col-xs-pull-3.col-sm-12.col-sm-pull-0
                        p.lead Christopher Vachon
                        p.sub Web Developer, Musician, and Beer Enthusiast
                .content.col-sm-9.col-xs-12
                    .col-xs-12
                        block content
                            h1 Oops! No content...
                .sidebar.col-sm-3.col-xs-12
                    ul.navigation
                        li: a(href="/") Home
                        li: a(href="/blog") Blog
                        li: a(href="/about-me") About Me
                        li: a(href="/projects") Projects
                    aside.advert
                        a(href="http://mbsy.co/CodeSchool/18363039")
                            img(src="https://ambassador-api.s3.amazonaws.com/uploads/marketing/970/2014_09_22_13_35_20.gif", alt="Join Code School").img-responsive
            footer.row.site-footer
                .col-xs-12
                    p &copy; Christopher Vachon #{ new Date().getFullYear() }
                    p <strong>Discliamer</strong>: the views and opinions expressed on this site a solely my own and do not nessacarily reflect those of any person, company, or organization mentioned on this site.
        each jsPath in settings.jsFiles
            script(src=jsPath)
        
        script(src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-55662a7d2a510903", async)
